<!DOCTYPE html>
<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #95d8ff;
}
</style>
</head>
<body>

<h1>!מטעמי אבטחה הדף הזה מוצפן. אם אתם משלנו, תפענחו</h1>
<h2>Passengers Table</h2>

<table>
  <tr>
    <th>\x8d\x92\x9e\x9a</th>
    <th>\x81\x96\xb1\xb8\x94\x10\x83\x9f\xba\x9d\xb8\xb1\xb6</th>
    <th>\xa0\x92\xb3\xb3\xb0\x9f\xb1\xb8</th>
    <th>\x86\x9d\x99\x9f</th>
  </tr>
  <tr>
    <td>\xa5\x92\x9d\x92</td>
    <td>\x86\xb1\x92\x9d</td>
    <td>\x32\x36\x30\x34\x3b\x31</td>
    <td>\x91\x9f\xb1\x96\x9d\x9b</td>
  </tr>
  <tr>
    <td>\xa8\x92\x9e\x92\xb1</td>
    <td>\x86\xb3\xb1\x92\x9a\x9c</td>
    <td>\x31\x3b\x39\x38\x33\x32</td>
    <td>\x9c\x9f\xb9\x9a\xb3\x10\x99\x9f\x9f\x98</td>
  </tr>
  <tr>
    <td>\x82\x9d\x98\xb1\x9a\xbb</td>
    <td>\xaa\xa3\x82</td>
    <td>\x39\x3a\x31\x32\x3b\x30</td> 
    <td>\xb3\xb0\x9f\xb1\xb8\xb3\x10\x9b\xba\xb6</td>
  </tr>
  <tr>
    <td>\xa5\x96\xb9</td>
    <td>\x86\xb3\xb1\x92\x9a\x9c</td>
    <td>\x3b\x31\x34\x39\x34\x33</td>
    <td>\x9d\x9f\xb1\x9e\x92\x9c\x10\xb0\x92\xb3\xb3\x9a\x9d\x9b\x9a\xb1</td>
  </tr>
  <tr>
    <td>\x85\x9f\x94\x9d</td>
    <td>\xaa\xa3\x82</td>
    <td>\x34\x31\x3b\x39\x33\x32</td>
    <td>\x9d\x9f\xb8\x94\x96\x9d\x9b\x10\xb3\xb0\x9a\x93\x96\x92\x9c</td>
  </tr>
  <tr>
    <td>\x81\x92\x94\x9e\x92\x9d</td>
    <td>\x86\xb1\x92\x9d</td>
    <td>\x3b\x32\x31\x36\x38\x31</td>
    <td>\x9e\x92\x96\x9d\x10\xb3\xba\xb3\xb0\x9a\x93\xb8</td>
  </tr>
  <tr>
    <td>\x82\x98\xb1\x96\x92\x9d</td>
    <td>\x8b\x9a\xb1\x9e\x92\x9d\xb6</td>
    <td>\x32\x3b\x36\x31\x34\x33</td>
    <td>\x9b\xba\x96\xb8\x92\xb1\x96\xb3\xb8</td>
  </tr>
</table>

</body>
</html>

<!-- https://youtu.be/bwJvVLHb-Eg -->